.epi-contentContainer {
	max-width: 1200px;
}

.epi-contentArea {
	margin-bottom: 32px;
}

.epi-contentArea .EP-prefix
{
    font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
	font-size: 1.7em;
}