<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="1.0.0" type="ContentChildrenGrouping.EditMode.ContentChildrenGroupingModuleViewModelModule, ContentChildrenGrouping">
  <assemblies>
    <add assembly="ContentChildrenGrouping" />
  </assemblies>

  <clientModule initializer="content-children-grouping.moduleInitializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>

  <dojo>
    <paths>
      <add name="content-children-grouping" path="scripts" />
    </paths>
  </dojo>
</module>
