.configuration-item {
  .content-link {
    text-align: left;
    background-color: blue;
    background-color: blue;
  }

  .configuration-generator-select {
    max-width: 250px;
  }

  .remove-button {
    margin-left: 4px;
  }

  .add-button {
    margin-left: 8px;
  }
}

.oui-button.add-configuration-button {
  margin-right: 8px;
}
