.plugin-grid {
  padding-top: 0;
}

.edit-configuration {
  max-width: 500px;

  &.axiom-grid-container {
    margin-left: 0;
  }

  .content-link.oui-text-input[type="number"] {
    text-align: left;
    max-width: 100px;
    display: block;
  }
}

.menu-cell {
  a.flex--inline {
    display: none !important;
  }
}

tr:hover {
  .menu-cell {
    a.flex--inline {
      display: inline-flex !important;
    }
  }
}

.configuration-item {
  .configuration-generator-select {
    max-width: 250px;
  }

  .remove-button {
    margin-left: 4px;
  }

  .add-button {
    margin-left: 8px;
  }

  &.background--white {
    background-color: inherit !important;
  }
}

.oui-button.add-configuration-button {
  float: right;
}

.oui-button.save-button {
  margin-top: 48px;
}

.configuration-table {
  & > tbody > tr > td.empty-config-table {
    text-align: center;
    height: 100px;
    padding-top: 50px;
  }
}

.sample-code {
  font-family: "Courier New";
}

.content-link-with-icon {
  display: inline-block;

  svg {
    float: left;
    margin-right: 4px;
  }
}

.text-description {
  font-style: italic;
  color: #c0c0c0;
}

.generator-settings-dialog {
  fieldset {
    border: none;
    background-color: inherit;
    margin-top: 0;
  }
}
